*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lobster', cursive;
}
header{
    background-image: url(./img/Color_rosa_palo.jpg);
     width: 100%;
     height: 480px;
}
nav{
    display: flex;
    color: black;
    background-color: #ffffff;
}
    
a{
    text-decoration: none;
    padding: 20px;
    color: black;
}
header h1{
    padding: 0px 500px;
    font-size: 50px;
}
.ola{
    background: url(./img/wave.svg);
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding: 0px 200px;
}
.textola{
    padding: 200px;
    text-align: center;
}
header h2{
    padding: 10px 200px;
}
.Hobies{
    background-color:#cda0ca ;
    display: flex;
}
.caja{
    border: 2px solid;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    padding: 4px;
}
.text-hobie{
    padding: 10px;
}
.subtexto{
    padding: 10px;
}
.galeria{
    background-color:#d8d3da;;
}
.galeria h1{
    padding: 0px 350px;
}
.gale{
    display: flex;
}
.Cosas{
    padding: 20px 60px;
}
.Cosas img{
    width: 100px;
    height: 100px;
}
footer{
    background-color: #e22bb680;
    display: flex;
}
.footer{
    width: 250px;
    padding: 30px;
    margin-left: 30PX;
}
.footer1{
    width: 200px;
    padding: 30px;
}